# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Java
target/
*.log

# Python
.venv/
__pycache__/
*.pyc

# Go
/bin/
*.exe

# Docker
.env

# Airflow
airflow/logs/
airflow/plugins/

# Node (if later)
node_modules/